body {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logocontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
}

.logoimgcontainer {
    width: 40px;
    height: 50px;
}

.logoimg {
    width: 100%;
}

.searchbarcontainer {
    width: 600px;
    height: auto;
}

.bar {
    height: auto;
    background-color: #fff;
    margin: 20px 5px;
}

.searchbar {
    width: 100%;
}

.search {
    display: inline-block;
    width: 80%;
}

.questionmark {
    font-size: 30px;
}
 
.msquareimgcontainer {
    width: 30px;
    height: auto;
}

.msquareimg {
    width: 100%;
    border-radius: 50px;
}

.maincontainer {
    background-color: #F1F1F1;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    padding-top: 20px;
    padding-left: 20px;
}

.column {
    width: 400px;
    margin: 20px;
}

.box {
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid lightgray;
}


.boxtitle {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.secondcolumntitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.fa-chevron-left {
    margin-right: 20px;
}

.thumbnailcontainer {
    margin-bottom: 18px;
}

.thumbnail {
    width: 100%;
    border-radius: 4px;
}

.performance {
    margin-bottom: 10px;
}

.statcontainer {
    margin-bottom: 15px;
}

.stat {
    display: flex;
    justify-content: space-between;
    padding: 8px 0px;
}

.link {
    color: #1D5FD4;
    font-weight: bold;
}

.comment {
    margin-top: 15px;
}

/* second column */

.secondcolumnimg {
    width: 100%;
    margin-bottom: 12px;
}

.fs {
    font-size: 15px;
}

.creator {
    margin-bottom: 13px;
}

.op {
    opacity: 0.6;
}

/* third column */

.subscribercount {
    font-size: 37px;
}

.cg {
    color: green;
}

.divider {
    height: 1px;
    background-color: lightgray;
    margin: 25px 0px;
}

.summary {
    margin-bottom: 12px;
}

.summarystat {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.playlist {
    display: flex;
    padding: 8px 0px;
    justify-content: space-between;
}

.summarycontainer {
    margin-bottom: 10px;
}

.overflowEllipsis {
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ffs {
    font-size: 15px;
    margin-left: 7px;
}

/* second row */

.lowerbox {
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    margin-top: 20px;
    border: 2px solid lightgray;
}

.Comments {
    margin-bottom: 20px;
}

.commentcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.commentImgContainer {
    width: 70px;
    height: auto;
}

.commentImg {
    width: 100%;
}

.profileImageContainer {
    width: 25px;
    height: auto;
    
}

.profileImg {
    width: 100%;
    border-radius: 200px;
}

.mb {
    margin-bottom: 5px;
}

.boxtitlemargin {
    margin-bottom: 30px;
}

.nextProduction {
    margin-bottom: 20px;
    font-weight: bold;
}

.ideascontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ideaimgContainer {
    width: 80px;
    height: auto;
}

.ideaimg {
    width: 100%;
    border-radius: 50px;
}

.downarrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.subscriberscontainer {
    display: flex;
    flex-direction: row;
}

.subscriberImageContainer {
    width: 40px;
    height: auto;
    margin-right: 20px;
}
/* navbar */

.navbarcontainer {
    background-color: white;
    width: 400px;
    margin-top: 5px;
}

.navbarbox {
    text-align: center;
}

.profileimgcontainer {
    width: 150px;
    height: auto;
    margin-left: 110px;
    margin-top: 20px;
}

.msquareprofileimg {
    width: 100%;
    border-radius: 100px;
}

.navbarlowercontainer {
    margin-top: 30px;
}

.linkcontainer {
    height: 60px;
}

.linkcontainer :hover {
    color: rgb(255, 0, 0);
}

.linkbutton {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
